body{
  font-family: "BPG Arial", sans-serif;
  color: #fff;
  text-shadow: 1px 1px #000;
}
h6{
  line-height: 1.5;
}
p{
  font-size: 0.5;
}
a:hover{
  text-decoration: none;
}
input:focus, textarea:focus, select:focus, a:focus, i:focus, button:focus, div:focus, h2:focus, h6:focus{
outline: none;
}
.nav-item{
  font-size: 1.25rem;
}
.nav-item:hover{
    box-shadow: 0 2px #b55400;
}
.nav-a{
  color: #b55400;
  font-size:1.25rem;
}
.nav-a:hover{
  color: #fff;
}
.navbar-nav{
display: table-header-group;
}
.dts-icon{
  color: #b55400;
}
.fa-globe-europe{
  color: #b55400;
}
.fa-globe-europe:hover{
  color: #fff;
}
.arrow{
  color: #b55400;
}
.arrow:hover{
  color:#b55400;
}
.dropdown{
  padding: 0 1.625rem;
}
.dropdown-item{
  color:  #fff;
  background-color: #b55400;
}
.dropdown-item:hover{
  background-color: rgba(0,0,0,.075);
  color: #eeeeee;
}

.dropdown-menu{
padding: 0;
min-width: 6rem;
font-size: 0.8125rem;
background-color: rgba(0,0,0,.075);
border-color: #b55400;
border: none;
}
.dropdown-menu:hover{
  background-color: rgba(8, 13, 17, 0.48);
  color: #fff;
}
.imageSet{
  background-image: url("../images/aboutus1.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.language-btn1{
  background-color: #fff;
  color: #000;
}
#first{
  padding: 4% 18%;
}
.first-h2{
  text-align: center;
  padding: 12px 0 6px;
}
.decoration{
  border-color: #fff;
  border-style: solid;
  border-width: thin;
  margin: 0 auto;
}
.hidden-p{
  text-decoration: overline;
  text-decoration-color: #fff;
  visibility: hidden;
}
#second{
  padding: 4% 10%;
}
#three{
  text-align: center;
  padding: 22px 0 20px;
}
.webName-p{
  text-align: center;
  font-family:'Sacramento';
  color: #b55400;
  display: inline-block;
  margin: 0 auto;
  padding: 1% 3%;
  font-size: 14px;
  border-radius: 100%;
  border-color: #b55400;
  border-style: solid;
}
#bottom-line{
  padding: 0 25%;
}

#middle-hr{
  padding:1% 28%;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.67);
}
.final-a{
color: #b55400;
}
.final-a:hover{
  color: #eeeeee;
  text-decoration: none;
}
.final-hr{
  border-style: solid;
  border-color: #b55400;
}
.contact-icons{
  color: #b55400;
  padding: 0 10px;
 outline-color: transperent;
}
.first-text{
  background-color: rgba(34, 34, 34, 0.25);
  border-radius: 1%;
}
.decoration-hr{
  padding: 0 32%;
}
.first-h6{
  text-align: justify;
  font-size: 1.2rem;
  padding-top: 24px;
}
.second-text{
  margin:27px auto;
}
#contact-list{
  text-align: center;
  background-color: rgba(0, 0, 0, 0.67);
}
.n1:hover{
  color: #3982ef;
}
.n2:hover{
  color:#3982ef;
}
.n3:hover{
  color:#ff0000;
}
.n4:hover{
  color:#ff0000;
}
.n5:hover{
  color: #3982ef;
}
.n6:hover{
  color: #3982ef;
}
#footer{
  padding: 46px 0 20px;
  background-color: rgba(0, 0, 0, 0.67);
  text-align: center;
}

@media screen and (max-width: 1073px){.nav-item{
    font-size: 1rem;
  }.nav-a{
    font-size: 1rem;
  }
}
@media screen and (max-width: 991px){#contact-list{
  text-align: left;
}.dropdown{
 padding: 0;
}.decoration-hr{
  padding: 0 27%;
}.imageSet{
  background-image: url("../images/o1.jpg");
}#first{
  padding: 4% 2%;
}.first-h6{
  font-size: 1rem;
}
}
@media screen and (max-width:849px){
  .bottom-h2{
    text-align: center;
  }
}
@media screen and (max-width:710px){
  .decoration-hr{
    padding: 0 19%;
  }
}
